@font-face {
  font-family: "Graphik LC Web Regular";
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot");
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.svg#Graphik LC Web Regular")
      format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik LC Web Medium";
  src: url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.eot");
  src: url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e81d1bf7827206c7d1273046adace7f2.svg#Graphik LC Web Medium")
      format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik LC Web Bold";
  src: url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.eot");
  src: url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/2ff8e2285777bd7c0960ae806188a8ea.svg#Graphik LC Web Bold")
      format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "Graphik LC Web Black";
  src: url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.eot");
  src: url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c2f6998f3a57c8131c0f56489bdae81a.svg#Graphik LC Web Black")
      format("svg");
      font-weight: 800;
}
